* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 121, 0.8)
    ),
    url(../PortfolioPics/nature.gif);
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  background-size: cover;
}
.logo {
  height: 8em;
  position: absolute;
  top: 3em;
  left: 3em;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #ffffff;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.heading-primary-main {
  display: block;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.4em;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #ffffff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.center {
  text-align: center;
}
/* about section */
.section-about {
  background-color: #000000;
  text-align: center;
  overflow: auto;
}
.aboutHeading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 121, 0.8)
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.aboutHeading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  color: white;
}
hr {
  margin-left: 30vw;
  margin-right: 30vw;
}
.aboutMe {
color: white;
font-size: 2em;
margin: 65px;
}
/* footer */
footer {
  background-color: lightgray;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footerContainer {
  display: flex;
  flex-direction: row;
}
i {
  color: rgba(40, 180, 121, 0.8);
}
i:hover{
  color: black;
}
.githubIcon {
  padding-right: 17vw;
  padding-left: 33vw;
}
.linkedinIcon {
  padding-right: 17vw;
}
/* making the webpage responsive */
@media screen and (max-width: 800px){
    .text-box {
        width: 80%;
        font-size: 10px;
    }
    .logo {
        height: 3rem;
        top: 1%;
        left: 1%;
    }
    .btn-white {
        font-size: 18px;
    }
}