* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background-color: #000000;
}
hr {
    background-color: #000000;
}
.logo a {
    position: fixed;
    top: 7px;
    left: 100px;
    background: rgba(0,0,0,0);
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.banner {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.hamburgerMenu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbar {
    background-color: #66ff66;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .2s cubic-bezier(1, 0, 0, 1);
    z-index: 3;
}
.change {
    right: 0;
}
.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.2s;
    z-index: 4;
}
.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}
.navList {
    text-align: right;
}
.navItem {
    list-style: none;
    margin: 25px;
}
.navLink { 
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navLink:hover { /* Look @ yt video to see how to add the lines */
    color: #d3d3d3;
}
.content h2 {
    color: #fff;
    font-size: 2.5em;
}
.content h2 span {
    color: #66ff66;
    font-size: 1.2em;
}
.content p {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 300;
}
.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
/* ===== portfolio ===== */
.portfolioPics{
    height: 50vh;
    width: 85%;
    border-style:solid ;
    border-color: #66ff66;
    border-radius: 25px;
}
.container {
    background-color: #fff;
    color: #000;
}
.container h1 {
    color: #000;
    font-weight: 900;
    font-size: 3rem;
}
.container a {
    color: #000;
}
.container a:hover {
    color: #66ff66;
}
/* .portfolio {
    height: 100vh;
    background-color: #000;
    display: flex;
    align-content: center;
    justify-content: center;
}
.middle {
    position: absolute;
    margin: 30px 0 30px 0;
}
.card {
   cursor: pointer;
   width: 40vw;
   height: 480px; 
}
.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
    width: 100%;
}
.front {
    transform: perspective(600px) rotateY(0deg);
}
.back {
    background:#f1f1f1;
    display: flex;
    align-content: center;
    justify-content: center;
    transform: perspective(600px) rotateY(180deg);
}
.back p {
    color: #000;
}
.backContent {
    color: #66ff66;
    text-align: center;
    width: 100%;
}
.sm {
    margin: 20px 0;
}
.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #66ff66;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}
.sm a:hover {
    color: #000000;
    background-color: #66ff66;
}
.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
.card:active > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:active > .back {
    transform: perspective(600px) rotateY(0deg);
} */

/* media query */
@media (max-width: 850px) {
    /* fix positioning/sizing of hb menu in mobile */
    .hamburgerMenu {
        top: 1vh;
        right: 1vw;
    }
    .logo a {
        top: 1vh;
        left: 1vw;
    }
    .navbar {
        padding: 20px 50px;
        width: 200px;
    }
    .navLink {
        font-size: 1.5em;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner .content p, .banner .content a {
        font-size: 1em;
    }
/* === Portfolio === */
.portfolioPics {
    height: 25vh;
}
}